@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center landing">
    <h1 class="display-4">Welcome to cyolo website!</h1>
</div>
<div class="container">
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>CourtCaseNo</th>
                    <th>HearingGeneral</th>
                    <th>ChamberID</th>
                    <th>HearingDate</th>
                    <th>HearingTime</th>
                    <th>HearingType</th>
                </tr>
            </thead>
        </table>
    </div>
</div>